* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

header{
    text-align: center;
    font-size: 6em;
}

section {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1.2em;
}

.logo-hotel {
    height: auto;
    width: 20vw;
    margin-top: 2%;
    margin-bottom: 2%;
}

h1 {
    color: #c05497;
    font-weight: 100;
    font-size: 0.8em;
}

.section-pop {
    margin-bottom: 2%;
}

.hotel-pop {
    float: right;
    height: auto;
    width: 25vw;
    margin-left: 0.8%;
}

.section-beach {
    margin-bottom: 2%;
}

.hotel-beach {
    float: left;
    height: auto;
    width: 23vw;
    margin-right: 0.8%;
}

.section-animal {
    font-size: 1em;
    margin-bottom: 2%;
}

.hotel-animal {
    float: right;
    height: auto;
    width: 26vw;
    margin-top: 1%;
    margin-left: 0.8%;
}

h2{
    font-weight: 600;
    color: #c05497;
    font-weight: 100;
    letter-spacing: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}

p {
    color: #3962a6;
    font-size: 1em;
    margin-bottom: 2%;
}

.fondo-mym {
    width: 98vw;

}

@media (max-width: 992px){

    header {
        font-size: 4.8em;
        letter-spacing: 0.2ch;
    }

    .logo-hotel {
        height: auto;
        width: 28vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .section-pop {
        font-size: 0.8em;
        margin-bottom: 2%;
        }
    
    .hotel-pop {
        float: right;
        height: auto;
        width: 47vw;
        margin-left: 0.8%;
        margin-right: 1%;
    }

    .section-beach {
        font-size: 0.8em;
        margin-bottom: 2%;
    }

    .hotel-beach {
        float: left;
        height: auto;
        width: 47vw;
    }

    .section-animal {
        font-size: 0.8em;
        margin-bottom: 2%;
        margin-left: 1%;
    }

    .hotel-animal {
        float: right;
        height: auto;
        width: 47vw;
        margin-left: 0.8%;
        margin-right: 1%;
    }

    .fondo-mym {
        width: 98vw;
        margin-bottom: 2%;
    }

}

@media (max-width: 768px) {

    header {
        font-size: 4.2em;
        letter-spacing: 0.2ch;
    }

    h1 {
        margin-left: 13%;
        margin-right: 13%;
    }

    section {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .section-pop {
        font-size: 0.8em;
        margin-bottom: 2%;
    }

    .hotel-pop {
        float: right;
        height: auto;
        width: 70vw;
        margin-left: 0.8%;
    }

    .section-beach {
        font-size: 0.8em;
        margin-bottom: 2%;
    }

    .hotel-beach {
        float: left;
        height: auto;
        width: 70vw;
        margin-left: 0.8%;
        margin-right: 2%;
    }

    .section-animal {
        font-size: 0.8em;
        margin-bottom: 2%;
    }

    .hotel-animal {
        float: right;
        height: auto;
        width: 70vw;
        margin-left: 2%;
    }

    .fondo-mym {
        width: 97vw;
    }

}

@media (max-width: 480px) {
    .section-pop {
        font-size: 0.8em;
        margin-bottom: 2.5%;
    }

    .hotel-pop {
        height: auto;
        width: 90vw;
        margin-right: 0.8%;
    }

    .section-beach {
        font-size: 0.8em;
        margin-bottom: 2.5%;
    }

    .hotel-beach {
        height: auto;
        width: 90vw;
    }

    .section-animal {
        font-size: 0.8em;
        margin-bottom: 2.5%;
    }

    .hotel-animal {
        height: auto;
        width: 90vw;
        margin-left: 2%;
    }

    .fondo-mym {
        width: 97vw;
    }

}