@use "./components/styles/reset";
@use "./components/styles/mixins";
@use "./components/styles/variables";

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #d4d4d4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #root {
        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

}


@media (max-width: 500px) {

    body {

        #root {

            .header,
            .footer,
            .container {
                font-size: .7rem;
            }

            .container {
                width: 75vw;
                height: 75vh;
                padding-top: 1rem;
                padding-bottom: 1rem;

                .div-form {
                    height: 3.8rem;
                    width: 90%;

                    border: #F8DA2E 1px solid;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;

                    .form-input {
                        width: 75%;
                        height: 1.5rem;
                        font-size: .7rem;
                    }
                }
            }
        }
    }
}