@use "../styles/variables" as var;

.container {
    background-color: #2e4cf8;
    width: 50vw;
    min-height: 40vh;
    max-height: 60vh;
    font-size: .8rem;

    box-shadow: 0px 8px 10px rgb(58, 58, 58);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    h1 {
        color: #F8DA2E;
        width: 90%;
        min-height: 30px;
        margin-top: .5rem;
        border: #F8DA2E 1px solid;

        display: flex;
        justify-content: center;
    }
}