@use "./variables" as var;
@use "./mixins" as mix;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: var.$color_negro;
}

body {
    padding-top: 30px;
    font-family: var.$fuente_body;
    font-size: 40px;
    background: var.$color_fondo_bod1;
    background: var.$color_fondo_bod2;
    height: 100%;

    h1 {
            color: var.$color_blanco;
            text-align: center;
            text-shadow: 0 0 7px var.$colorSombra1;
        }

    h1 > strong {
        font-style: var.$fuente_h1;
    }

    #cajas {
        @include mix.cajas();
    }

    #cajas > div {
        @include mix.cajasDiv();
    }

        #cajas>div[title="Presentado"] {
            background-position: 20px 20px;
            background-color: #fff;
            border-bottom-color: #fff;
        }

        #cajas>div:after {
            transition: background-position .8s cubic-bezier(0.18, 0.89, 0.32, 1.28) .7s, box-shadow .2s linear .7s;
            content: "";
            width: 200px;
            height: 200px;
            background: url('../img/cortina.png') -100px -2px no-repeat;
            position: absolute;
        }

        #cajas>div[title="Presentado"]:after {
            background-position: 100px -2px;
            box-shadow: -19px 20px 36px 5px hsla(0, 100%, 100%, .5);
        }

        #cajas>div:not([title="Presentado"]):hover:after {
            transition: background-position 1s;
            transition-delay: 0s;
            background-position: -80px -2px;
        }

        #mario {
            background: url('../img/mario.png');
        }

        #luigi {
            background: url('../img/luigi.png');
        }

        #bowser {
            background: url('../img/bowser.png');
        }

        #peach {
            background: url('../img/peach.png');
        }

        #yoshi {
            background: url('../img/yoshi.png');
        }

        #toad {
            background: url('../img/toad.png');
        }

        #toadette {
            background: url('../img/toadette.png');
        }

        #daisy {
            background: url('../img/daisy.png');
        }

        .boton_presentar {
            color: var.$color_blanco;
            background-color: var.$colorSombra1;
            box-shadow: 2px 2px 15px var.$colorSombra1,
                inset 2px 2px 8px var.$colorSombra0,
                inset -2px -2px 15px var.$colorSombra4;
            height: 40px;
            width: 200px;
            border-radius: 5vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 20px auto 0;
            text-transform: uppercase;
            font-size: 0.7em;
            transition:cubic-bezier(1, 0, 0, 1);
        }

        .boton_presentar:hover {
            background-color: var.$colorSombra2;
            box-shadow: 2px 2px 15px var.$colorSombra2,
                inset 2px 2px 8px var.$colorSombra0,
                inset -2px -2px 15px var.$colorSombra4;
        }

        .boton_presentar:active {
            background-color: var.$colorSombra2;
            color: var.$color_negro;
            box-shadow: 2px 2px 15px var.$colorSombra2,
                inset 3px 3px 5px var.$colorSombra4,
                inset -3px -2px 1px var.$colorSombra5;
        }
}