$color_negro: #000;
$color_blanco: #fff;
$colorSombra0: #f6f6f7b7;
$colorSombra1: #bf4040;
$colorSombra2: #6eb63a;
$colorSombra3: #427021;
$colorSombra4: #080808d9;
$colorSombra5: #08080872;
$color_fondo_bod1: #0a0a0a;
$color_fondo_bod2: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(15, 15, 15, 1) 100%);
$fuente_body: Cambria,
Cochin,
Georgia,
Times,
'Times New Roman',
serif;
$fuente_h1: italic;