@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Source Code Pro", monospace;
    list-style: none;
}

body {
    min-height: 100vh;

    background-color: #667861;
    color: #f8e978;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 60vw;
    min-height: 80vh;
    background-color: #12121294;
    box-shadow: #aaa052 7px 8px 20px;

    border-radius: 1vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        font-size: 2rem;
    }
}

.section__task-list {
    min-width: 90%;
    border: #f8e978 1px solid;
    padding: 1rem;

    gap: 1rem;
    display: flex;
    flex-direction: column;

    .section__ul {

        .ul__li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        
        }
    }
}

.form__taskForm {
    min-width: 90%;
    border: #f8e978 1px solid;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .input__taskForm {
        width: 80%;
    }
}