* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(236deg, #95f6c5, #7373f5);
}

.header,
.footer {
    height: 15vh;
    width: 100%;
    color: #f0ffff;
    background-color: #222222;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__div {
    width: 64vw;
}

.header__span {
    font-size: 2.7em;
    font-weight: 600;
}

.footer p {
    font-size: 1em;
}

.main {
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 50vh;
    width: 20vw;
    background-color: #a19e9e;
    box-shadow: 1px 1px 10px 0px #222222;

}

.calculator__display {
    height: 12vh;
    width: 20vw;
    background-color: #222222;
    color: #a19e9e;
    font-size: 2.5em;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.calculator__keys {
    height: 38vh;
    width: 20vw;
    background-color: #222222;

    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.key {
    font-size: 2em;
    border-radius: 1.5vw;
    box-shadow: inset 1px 1px 6px #000000;
}

.key:active {
    font-size: 2em;
    border-radius: 1.5vw;
    background-color: #ee9162;
}

.key--clear {
    grid-column: -4 / span 2;
}

.key--equal {
    grid-column: -2;
    grid-row: 2 / span 4;
}

/* Media Queries */
@media (max-width: 992px) {

    .header__div {
        height: 100%;
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .header__span {
        font-size: 2.2em;
        font-weight: 600;
        width: 85%;
        height: 46px;

    }

    .footer p {
        font-size: 1.4em;
        width: 70vw;
    }

    .main {
        height: 70vh;
        width: 100vw;

        display: flex;
    }

    .calculator {
        height: 50vh;
        width: 30vw;
        background-color: #f3c464;
        border-radius: 2vw 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .calculator__display {
        height: 12vh;
        width: 26vw;
        background-color: #222222;
        color: #a19e9e;
        font-size: 2.5em;
    }

    .calculator__keys {
        height: 34vh;
        width: 26vw;
        background-color: #222222;

        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
    }

    .key {
        font-size: 1.5em;
    }

    .key--clear {
        grid-column: -4 / span 2;
    }

    .key--equal {
        grid-column: -2;
        grid-row: 2 / span 4;
    }
}

@media (max-width: 768px) {

    .header__div {
        height: 50%;
        width: 70%;

        display: flex;

    }

    .header__span {
        font-size: 1.8em;
        font-weight: 600;
        width: 100%;

    }

    .footer p {
        font-size: 1.2em;
        width: 70vw;
    }

    .main {
        height: 70vh;
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calculator {
        height: 50vh;
        width: 40vw;
        background-color: #f3c464;
        border-radius: 2vw 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .calculator__display {
        height: 12vh;
        width: 34vw;
        background-color: #222222;

        color: #a19e9e;
        font-size: 2.5em;
    }

    .calculator__keys {
        height: 34vh;
        width: 34vw;
        background-color: #222222;

        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
    }

    .key {
        font-size: 2em;
    }

    .key--clear {
        grid-column: -4 / span 2;
    }

    .key--equal {
        grid-column: -2;
        grid-row: 2 / span 4;
    }
}

@media (max-width: 360px) {

    .header__div {
        height: 50px;
        width: 80vw;
    }

    .header__span {
        width: 80vw;
        height: 50px;
        font-size: 1.2em;
        font-weight: 400;

    }

    .footer p {
        font-size: 1em;
        width: 80vw;
    }

    .main {
        height: 70vh;
        width: 54vw;
    }

    .calculator {
        height: 42vh;
        width: 54vw;
        background-color: #f3c464;
        border-radius: 2vw 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .calculator__display {
        height: 8vh;
        width: 45vw;
        background-color: #222222;
        color: #a19e9e;
        font-size: 2em;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    .calculator__keys {
        height: 30vh;
        width: 45vw;
        background-color: #222222;
        border-radius: 4vw 4vw;

        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
    }

    .key {
        font-size: 1.4em;
    }

    .key--clear {
        grid-column: -4 / span 2;
    }

    .key--equal {
        grid-column: -2;
        grid-row: 2 / span 4;
    }
}