@use "./variables" as var;
@use "./mixins" as mix;

.hero {
    background: url(../img/home_768.png) center;
    background-size: cover;
    height: 100vh;
}

@media (min-width: 760px) {

    .hero {
        background: url(../img/home_960.png);
        background-size: cover;
        height: 100vh;

    }
}